In [ ]:
def suma(a,b):
    return a+b

def resta(a,b):
    return a-b

def multiplicacion(a,b):
    return a*b

def division(a,b):
    return a/b




operaciones = [suma, resta, multiplicacion, division]

print(operaciones[0](1,2))
print(operaciones[1](1,2))
print(operaciones[2](1,2))
print(operaciones[3](1,2))
print(operaciones[4](1,2))

for operacion in operaciones:
    print(operacion(1,2))
    
    lista = [1,2,3,4,5,True, 4.5, "hola", [1,2,3]]

In [ ]:
# Lista son indexables

lista[8]

Todas la funciones que no retornan un valor explicito en Python retornan None

In [ ]:
def suma(a,b):
    pass

print(suma(1,2))

In [ ]:
def operaciones(a,b):
    return[a+b, a-b, a*b, a/b, a**b]

respuestas = operaciones(5,4)
print(respuestas)
w,x,y,z = operaciones(5,4)
print(w)

In [7]:
res_suma,_,_,_,_ = operaciones(5,4)
res_suma

9

Tuplas:
Las tuplas son inmutables, para poder agregar tienen que usar el metodo magico add.

In [ ]:
tupla_funciones = (suma, resta, multiplicacion, division)
print(tupla_funciones[1](5,4))

In [ ]:
tupla=(1,2,3,4,5,True,1.2.'hola',[1,2,3])')
tupla._add_((10,'holaaaa'))

Usamos esta expresiÃ³n para crear una salida.

In [13]:
def suma (a: int, b: int) -> int:
    return a+b

def operacion(a: int, b: int) -> (int, int):
    return a+b, a-b

(a,b) = operacion(5,6)
a,b = operacion(5,6)
print(a,b)

11 -1

### Rangos

In [14]:
# Range
numeros = range(10)
print(numeros)

range(0, 10)

In [15]:
for i in numeros:
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
numeros = range(5,10)
print(numeros)

range(5, 10)

In [17]:
for i in numeros:
    print(i, end=" ")

5 6 7 8 9

In [18]:
numeros_pares = range(2,11,2)
for par in numeros_pares:
    print(par, end=" ")

2 4 6 8 10

In [19]:
for item in range(2,11,2):
    print(item, end=" ")

2 4 6 8 10

##### Esta funcion identifica al elemnto mayor dentro de mi lista

In [20]:
lista = [3,6,7,40,34,67,89]
max(lista)

89

##### Esta funcion identifica al elemento menor de mi lista

In [21]:
min(lista)

3

In [22]:
sorted(lista)

[3, 6, 7, 34, 40, 67, 89]

In [23]:
lista.sort()
print(lista)

[3, 6, 7, 34, 40, 67, 89]

In [25]:
lista.sort(reverse=True)
lista

[89, 67, 40, 34, 7, 6, 3]

##### Set o conjuntos

In [26]:
mi_set = {1,2,3,3,3,3,3,}
mi_set

{1, 2, 3}

In [27]:
data = [ 1,2,3,4,5,6,7,8,9,10,1,3,4,5,2]
list(set(data))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
data2 = {1,56,57,58}
mi_set.union(data2)

{1, 2, 3, 56, 57, 58}

##### Diccionarios

In [29]:
mi_dict = {"llave": "valor"}
mi_dict ["llave"]

'valor'

In [30]:
mi_dict.keys()

dict_keys(['llave'])

In [31]:
mi_dict.values()

dict_values(['valor'])

In [32]:
#do a dict with the days of the week
days_of_week = {
    "monday": "1",
    "tuesday": "2",
    "wednesday": "3",
    "thursday": "4",
    "friday": "5",
    "saturday": "6",
    "sunday": "7"
}

for e in mi_set:
    print(e)

for key in days_of_week.keys():
    print(key)
    
for key, value in days_of_week.items():
    print(key, value)
    
for value in days_of_week.values():
    print(value)
    
print(days_of_week)

1
2
3
monday
tuesday
wednesday
thursday
friday
saturday
sunday
monday 1
tuesday 2
wednesday 3
thursday 4
friday 5
saturday 6
sunday 7
1
2
3
4
5
6
7
{'monday': '1', 'tuesday': '2', 'wednesday': '3', 'thursday': '4', 'friday': '5', 'saturday': '6', 'sunday': '7'}